<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Account List</h1>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/user/account}" class="btn btn-primary btn-sm mb-3">Add New Account</a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Account Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Description</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
            <tbody>
            <tr th:each="account: ${accounts}">
                <td th:text="${account.nameAccount}"></td>
                <td th:text="${account.usernameAccount}"></td>
                <td th:text="${account.emailAccount}"></td>
                <td th:text="${account.descriptionAccount}"></td>
                <td th:text="${account.passwordAccount}"></td>
                <td th:if="${account.passwordAccount} != null">
                    <a th:href="@{/user/account/{idAcc}(idAcc=${account.getId()})}" class="btn btn-primary">
                        Update
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>