<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="justify-content-center text-center">WELCOME TO SECURE PASS APP</h1>
    <h1 class="justify-content-center text-center">==========================</h1>
    <h1 class="justify-content-center text-center">
        <a th:href="@{/registration}">GO TO MAIN BASE</a>
    </h1>

</div>
</body>
</html>